@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #ffffff;
  opacity: 1 !important;
}

.swiper-scrollbar {
  /* background: #ffffff !important;
  opacity: 0.4; */
}

.swiper-scrollbar-drag {
  background: #18776a !important;
}
